{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/result'>
<table>
<p>Задайте параметры модели:</p>
<tr><td>Набор данных:</td><td><input name='dataset' type='TEXT' width='60' value=''></td></tr>
<tr><td>Метапараметры:</td><td><input name='params' type='TEXT' value='epochs=100, alpha=0.01'></td></tr>
<tr><td>Размер карты:</td><td><input name='size' type='TEXT' value='(25, 25)'></td></tr>
</table>
<p>Приступить к обучению модели:</p>
<p><input value='СТАРТ' type='SUBMIT'></p>
</form>

{% endblock %}
